[submodule "mutation-testing/reveal.js"]
	path = mutation-testing/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "mobbing/reveal.js"]
	path = mobbing/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "mutation-testing-csharp/reveal.js"]
	path = mutation-testing-csharp/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "mutation-testing-csharp2/reveal.js"]
	path = mutation-testing-csharp2/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "mobbing-2019/reveal.js"]
	path = mobbing-2019/reveal.js
	url = git@github.com:hakimel/reveal.js.git
